{% extends "mybook/base.html" %}

{% block content %}
        <form action="{% url 'auth' %}" method="POST">
            {% csrf_token %}
            <h2 align = Center>회원 가입 </h2>
            <p> <br><br></p>
            <p align = Center><input type="search" class="span3" placeholder="이름" name="name" id="search" autofocus /> </p>
            <p align = Center><input type="search" class="span3" placeholder="비밀번호" name="pwd" id="search" autofocus /> </p>
            <p align = Center><input type="search" class="span3" placeholder="비밀번호 확인" name="pwd1" id="search" autofocus /> </p>
             <input type="hidden" name="create" value="create">
            <p align = Center><button type="submit" class="btn btn-primary btn-large pull-center">가입 &raquo;</button></p>
        </form>

{% endblock content %}
